@import "../config";
.logo{
    height: 60px;
    width: 60px;
}
.navbar{
    background-color: $theme-color;
    color: $secondary-color !important;
}
.make-reservation a{ 
    text-decoration: none;
    color: $secondary-color !important;
}
.navbar-collapse{
    padding-top: 15px;
}
.navbar-brand{
    color: $secondary-color !important;
}