@import "../config";

.responsive-credit-user-table,
.responsive-credit-table,
.basic-information {
    overflow: auto !important;
}

.responsive-table>table {
    width: 100%;
    border-collapse: collapse;
}

.position-sticky:focus,
.position-sticky:visited,
.position-sticky:focus-within {
    background-color: $btn-credit-hover;
    color: $secondary-color;
}

.credit-table {
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.basic-information {
    border-collapse: collapse;
    background-color: $secondary-color;
    text-align: center;

    table {
        border: 1px solid black;
        width: 100%;

        tr th {
            background-color: $btn-credit;
            color: $secondary-color;
        }

        tr {
            &:hover {
                background-color: $bg-sidebar;
            }
        }

        tr,
        th,
        td {
            border: 1px solid black;
        }
    }
}

.responsive-credit-user-table {
    background-color: $secondary-color;

    table {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr th {
        background-color: $theme-color;
        color: $secondary-color;
    }

    th,
    td {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }
}

.responsive-credit-table {
    background-color: $secondary-color;

    table {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr th {
        background-color: $btn-credit;
        color: $secondary-color;
    }

    th,
    td {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }
}