@import "../config";

@mixin sticky-sibebar {
    position: sticky;
    top: 0;
    left: 0;
}

@mixin margin-sidebar {
    margin: 05px 10px;
}

@mixin buttons {
    margin: 05px 10px;
    height: 30px;
    border-radius: 5px;
}

@mixin btn-theme ($bg, $color) {
    border: 0;
    background-color: $bg;
    color: $color
}

.credit-page {
    display: flex;
    height: 100%;

    .credit-info {
        @include sticky-sibebar;
        flex: 1;
        background-color: $bg-sidebar;
        gap: 20px;
        height: 100vh;

        h5 {
            @include margin-sidebar;
        }

        .dropdown-toggle {
            margin: 05px 10px;
            width: 90%;
            background-color: $theme-color;
            border: $theme-color;

            &:hover {
                background-color: $theme-color-light;
            }
        }

        .credit-remaining {
            @include margin-sidebar;
        }

        .show-calculation {
            @include margin-sidebar;
        }

        .btn-pay {
            @include buttons;
            @include btn-theme ($green, $secondary-color);
        }

        .btn-cancel {

            @include buttons;
            @include btn-theme ($danger-color, $secondary-color);
        }
    }

    .credit-border-bottom {
        padding: 10px 0px;
        border-bottom: 2px solid yellow;
    }

    .same-width {
        display: flex;

        p {
            width: 70%;
        }
    }

    .flex-datepicker {
        display: flex;
        gap: 10px;
        margin: 0px 10px;
        align-items: center;
        // flex-direction: column;
    }

    .make-credit {
        flex: 4;
        background-color: $bg-color;

        .background-credit {
            .filter {
                display: flex;
                align-items: center;
                gap: 2px;
                margin: 05px 10px;

                label {
                    text-transform: uppercase;

                }
            }

        }

        .custom-filter {
            border-top: 2px solid yellow;
            height: auto;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 20px;
            // justify-content: space-between;
            // flex-direction: column;
            .input-search {
                background-color: white;
                display: flex;
                align-items: center;
                border-radius: 2px;
                // width: 100%;

                .dropdown-search{
                    .select-search-input{
                        border: 0 !important;
                        width: 100% !important;
                    }
                    .select-search-select{
                        width: 100% !important;
                    }
                }

                .eyeglass-icon {
                    height: 35px;
                    background-color: $secondary-color;
                    // color: $secondary-color;
                    // border-radius: 8%;
                    font-size: 22px;
                }
            }

            .btn-filter {
                @include btn-theme($theme-color, $secondary-color);
                border-radius: 5px;
                height: 30px;
            }
        }
        .credit-customer{
            background-color: white;
            .select-search-input{
                border: 0 !important;
                width: 100% !important;
            }
            .select-search-select{
                width: 100% !important;
            }
        }
    }
}

.react-datepicker__header {
    background-color: $theme-color;
}

.toggle-category {
    .dropdown-toggle {
        width: 200px;
        @include btn-theme ($secondary-theme, $secondary-color);
    }
}

@media screen and (max-width: 748px) {
    .custom-filter {
        flex-direction: column;
        align-items: start !important;
    }
}

@media screen and (max-width: 528px) {
    .flex-datepicker {
        flex-direction: column !important;
    }
}