$theme-color: rgb(152,45,37);
$basic-theme: rgb(187,143,94);
$theme-contrast:rgb(226,155,63);
$secondary-theme:rgb(232,189,127);
$basic-theme-light: rgb(190, 102, 109);
$primary-color: black;
$secondary-color: rgb(255,255,255);
$danger-color:hsla(0, 100%, 50%, 0.849);
$success-color:rgb(19, 160, 6);
$warning-color:rgb(255, 255, 0);
$bg-color: rgb(214, 218, 226);

$card-header:#0822e17d;
$bg-course:rgb(216, 216, 216);
$btn-seen:#372791;
$btn-seen-hover:#5c43e9;
$table-num:#9b05717d;
$add-on:rgb(247, 181, 82);
$modifications:#1a5de3;
$cook-process:rgb(190,253,234);
$cook-process-hover:#09d99a;
$cook-process-icon:rgb(17,188,134);
$btn-search: #9b05717d;
$btn-search-hover: #0822e17d;
$date-picker-border: rgb(220, 224, 232);